body {
    background-image: url(../images/background.jpeg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-attachment: fixed !important;
}
.table-responsive {
    max-height: 300px;
    scroll-behavior: smooth;
    border-radius: 10px;
    margin-top: 20px;
}
#scroll::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

#scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #ff38d4, #51dfe1) !important;
    border-radius: 5px;
}
#table {
    font-family: "Cyrulis", sans-serif !important;
    margin-top: 20px;
    border-radius: 10px !important;
}   
#title {
    font-size: 50px;
    font-family: "Cyrulis", sans-serif !important;
    font-display: swap;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    background: linear-gradient(to right, #f6dff1, #51dfe1) !important;
    width: 500px;
    margin-left: calc((100%-500px)/4);
    margin-bottom: 20px;
    border-radius: 10px;
}
#form {
    background: linear-gradient(to right, #f6dff1, #51dfe1) !important;
    border-radius: 10px;
    width: 900px;
    margin-left: 70px;
}
#input1 {
    display: inline-block;
    width: 270px;
    margin-left: 20px;
    margin-top: 10px
}
#input2 {
    display: inline-block;
    width: 270px;
    margin-left: 20px;
    margin-top:10px
}
#input3 {
    display: inline-block;
    width: 270px;
    margin-left: 20px;
    margin-top: 40px
}
#input4 {
    display: inline-block;
    width: 270px;
    margin-left: 20px;
    margin-bottom: 20px;
   
}
#input5 {
    display: inline-block;
    width: 270px;
    margin-left: 20px;
    margin-bottom: 20px;
   
}
#btn {
    display: inline-block;
    margin-left: 140px;
    margin-top: 20px;
   
}
#edit 
{
    display: inline-block;
    margin-bottom: 10px;

}
